body {
  background-color: mediumspringgreen;
}
nav {
  align-content: left;
}
article {
  align-self: center;
}
label {
  align-content: center;
  text-size-adjust: 10pt;
}
table,
th,
td {
  border-width: 1pt;
}
form {
  border-style: ridge;
  border-collapse: collapse;
  border-width: 51%;
}
