* {
  background-color: lightgray;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
}

article {
  width: 300px;
  margin: auto;
  margin-top: 20px;
  border: 1px solid black;
  background-color: grey;
}
h1 {
  background-color: orange;
  font-size: 2em;
  padding: 10px;
  margin: 0px;
}

p {
  background-color: grey;
  text-align: justify;
  padding: 10px;
  margin: 0px;
}
img {
  width: 100px;
  border: 3px solid orange;
  padding: 0px;
  margin: 0px 10px 10px 0px;
  float: left;
}
